body{
	background-image: url("img/background.webp");
	background-repeat: repeat;
}

.page{
	width: 100%;
	text-align: center;
}

.logo{
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}