@font-face {
  font-family: RumbleBrave;
  src:  url("fonts/Rumble Brave.woff2") format("woff2");
        url("fonts/Rumble Brave.woff") format("woff");
}

@font-face {
  font-family: DeVinne;
  src:  url("fonts/DeVinne Txt BT.woff2") format("woff2");
        url("fonts/DeVinne Txt BT.woff") format("woff");
}

@font-face {
  font-family: Tower;
  src:  url("fonts/HTOWERT.woff2") format("woff2");
        url("fonts/HTOWERT.woff") format("woff");
}

body{
	background-image: url("img/background.webp");
	background-repeat: repeat;
	width: 90%;
	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
}

.logo{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.bottoni{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.bottoni .main, .bottone2 .secondary{
	font-family: RumbleBrave, Helvetica, sans-serif;
	font-size: 35px;
	color: #604B2E;
	cursor: pointer;
}

.selected{
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.ruolo{
	font-family: DeVinne, sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #604B2E;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ruolo span{
	display: inline-block;
}

.ruolo span::first-letter {
  font-size: 35px;
  color: #70341A;
}

.descrizione, .regolamento li, .regolamento ul{
	font-family: Tower, serif;
	font-size: 20px;
	color: #604B2E;
	width: 100%;
	hyphens: auto;
	text-align: justify;
	text-justify: inter-word;
	margin:0;
}

.imgruolo{
	width: 150px;
}

.tab, .tabb{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tabb{
	row-gap: 40px;
	margin-bottom: 30px;
	margin-top: 20px;
}

.ruolox{
	flex-basis: 45%;
}

.ruoloz{
	display:flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.cerchio {
    border-radius: 50%;
	border: 5px solid #c3ad82;
	color: transparent;
    width: 25px;
    height: 25px;
	position: relative;
	top: 3px;
}

.buono .cerchio{
	background-color: #5A8F54;
}

.cattivo .cerchio{
	background-color: #B46066;
}

.medio .cerchio{
    background: linear-gradient(to right, #5A8F54 0%, #5A8F54 50%, #B46066 50%, #B46066 100%);
}

.speciale .cerchio{
	background-color: #5f7eb0;
}

.master .cerchio{
	background-color: #ac6db0;
}

.hide{
	display:none;
}

.line{
	height:1px;
	width:100%;
	background-color: #604B2E; 
	margin: 10px 0;
}

.line2{
	height:2px;
	width:50%;
	margin: 10px 25%;
	background-color: #604B2E; 
}

.regole{
	font-size: 1.8em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.regole span::first-letter {
	font-size: 1.8em;
}

.regolamento{
	row-gap: 5px !important;
}

.bottone2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
	column-gap: 20px;
	flex-basis: 50%;
	/*border-bottom: 2px solid #604B2E; */
	padding-bottom: 8px;
	margin: auto;
	cursor: pointer;
}

.bottone2 .secondary{
	text-align: center;
}

.bottone2 .cerchio{
	position: relative;
	top: 7px;
}

.bottone2 .material-symbols-rounded{
    font-size: 25px;
	width: 25px;
	height: 25px;
    color: #c3ad82;
    margin-top: 6px;
	border-radius: 50%;
	border: 5px solid #c3ad82;
	background-color: #604B2E; 
}

.linkbig, .linkbig span{
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 7px;
	text-decoration-color: #70341A;
}

@media only screen and (max-width: 800px) {
	body{width: 85%;}
	.bottoni .main{line-height: 32px; font-size:30px;}
	.bottoni{margin-top: 20px;}
	.ruolox{flex-basis: 100%;}
	.ruolo{font-size: 18px; margin-top:0; margin-bottom:5px;}
	.ruolo span::first-letter {font-size: 35px;}
	.descrizione {font-size: 17px; line-height: 20px; margin-top:0;}
	.regolamento li, .regolamento ul{font-size: 17px; line-height: 20px; margin-top:0;}
	.cerchio {width: 20px;height: 20px;top:2px; }
	.ruoloz{gap:15px;}
	.imgruolo{width:120px;}
	.tab, .tabb{row-gap:30px}
	.bottone2{flex-basis:100%; gap: 20px;}
	.line2{width:100%; margin: auto;}
	.tabb{margin-bottom:0;}
	.bottone2 .secondary{font-size: 30px;} 
	.tab{row-gap: 20px !important;}
	.bottone2 .material-symbols-rounded {font-size: 20px; top:2px; width: 20px; height: 20px;}
}

